<div class="container">
  <div *ngFor="let plant of plants">

    <div *ngIf="plant.category === 'cat1' else cat2" class="card" style="color: darkgreen">
      <i [class]="plant.icon"></i>
      <p>{{plant.name}}</p>
      <div>
        <i [style.opacity]="plant.sun / 100" class="fa-solid fa-sun"></i>
        {{plant.sun}}%
      </div>
      <div>
        <i [style.opacity]="plant.wet / 100" class="fa-solid fa-water"></i>
        {{plant.wet}}%
      </div>
      <div>
        <i [style.opacity]="plant.care / 100" class="fa-solid fa-heart"></i>
        {{plant.care}}%
      </div>
    </div>

    <ng-template #cat2>
      <div class="card" style="color: orangered">
        <i [class]="plant.icon"></i>
        <p>{{plant.name}}</p>
        <div>
          <i [style.opacity]="plant.sun / 100" class="fa-solid fa-sun"></i>
          {{plant.sun}}%
        </div>
        <div>
          <i [style.opacity]="plant.wet / 100" class="fa-solid fa-water"></i>
          {{plant.wet}}%
        </div>
        <div>
          <i [style.opacity]="plant.care / 100" class="fa-solid fa-heart"></i>
          {{plant.care}}%
        </div>
      </div>
    </ng-template>
  </div>
  <plant-card></plant-card>
  <plant-card [plantName]="plants[4].name" [plantIcon]="plants[4].icon"></plant-card>
</div>
