.container {
  width: 720px;
  padding: 30px;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  .card {
    padding: 30px;
    border: 1px solid #000000;
    border-radius: 10px;
    display: grid;
    gap: 20px;
    justify-content: center;
    font-family: sans-serif;
  }
  i {
    font-size: 2em;
    text-align: center;
  }
  div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90px;
  }
}

.plant-icon {
  font-size: 2em;
  text-align: center;
}
